<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>flyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePass</display-name>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>admin.ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAirline</display-name>
    <servlet-name>addAirline</servlet-name>
    <servlet-class>admin.addAirline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAirline</servlet-name>
    <url-pattern>/addAirline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRoute</display-name>
    <servlet-name>addRoute</servlet-name>
    <servlet-class>admin.addRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRoute</servlet-name>
    <url-pattern>/addRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFlight</display-name>
    <servlet-name>addFlight</servlet-name>
    <servlet-class>admin.addFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFlight</servlet-name>
    <url-pattern>/addFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>assign</display-name>
    <servlet-name>assign</servlet-name>
    <servlet-class>admin.assign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assign</servlet-name>
    <url-pattern>/assign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scheduleFlight</display-name>
    <servlet-name>scheduleFlight</servlet-name>
    <servlet-class>admin.scheduleFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scheduleFlight</servlet-name>
    <url-pattern>/scheduleFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeAirline</display-name>
    <servlet-name>removeAirline</servlet-name>
    <servlet-class>admin.removeAirline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeAirline</servlet-name>
    <url-pattern>/removeAirline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeFlight</display-name>
    <servlet-name>removeFlight</servlet-name>
    <servlet-class>admin.removeFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeFlight</servlet-name>
    <url-pattern>/removeFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeRoute</display-name>
    <servlet-name>removeRoute</servlet-name>
    <servlet-class>admin.removeRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeRoute</servlet-name>
    <url-pattern>/removeRoute</url-pattern>
  </servlet-mapping>
</web-app>